@charset "UTF-8";
/* CSS Document */

body {
	background-image: url("fatsanta.png")
}

.box{
	height: 1000px;
	width: 1500px;
	border-radius: 10px;
	border-color:  #195D00;
	position: relative ;
	top: 80px; 
	left: 40%;
}

/*display*/
.display {
	background-color: #9F0000 ;
	width: 400px;
	position: relative;
	left: 15px;
	top: 20px;
	height: 40px;
	}
.display input{
	position:relative;
	left: 2px;
	top: 2px;
	height: 40px;
	width: 480px;
	color: #9F0000;
	background-color: #00BF05;
	font-size:21px;
	text-align: right;
	border-style: groove;
}
/*calculator buttons*/
.keys {
	position: relative ;
	top:15px;
	}
	.button {
		width: 75px;
		height: 100px;
		border: groove;
		margin-left: 17px;
		cursor: pointer;
		border-top: 2px solid transparent ;
	}
	.button.function{
		width: 37.5px;
		height: 25px;
		color: #9F0000;
		background-color: #195D00;
		border-bottom: black 2px transparent;
		border-top: 2px #6f6f6f solid ;
		}
	.button.operator{
		color: white;
		background-color: #4d5966;
		border-bottom: black 2px solid;
		border-top: 2px #6f6f6f solid;
		}	
		.buton.number{
			color: white;
			background-color: #7091ab;
			border-bottom: black 2px solid;
			border-top: 2px #6f6f6f solid;
		}
		.button.thing{
		color: #0084FF;
		background-color: #9F0000;
		border-bottom: 2px solid;
		border-top: 2px solid;
		border-color: #0084FF;
		}
		/*simulate button press */
		.function:active{
			border-top: black 2px solid solid;
			border-bottom: 2px #6f6f6f solid;
		}
		.operator:active{
			border-top: black 2px solid;
			border-bottom: 2px #6f6f6f solid;	
		}
		